.c {
  background: #528CE0;
  color: #EE5757;
  font-size: 2rem;
}

.c1 {
  background: mediumseagreen;
  color: #EE5757;
  font-size: 5rem;
}

.c2 {
  background: plum;
  color: #EE5757;
  font-size: 7rem;
}